/local.properties
/.idea/workspace.xml
/.idea/libraries
gradle/
/.idea
.DS_Store
build
.gradle
*.iml
.idea
app/app.iml
FarmLink-Android.iml
app/local.properties
app/gradlew
app/gradlew.bat
app/app-release.apk
